@model EPOLIS.Models.FormPenutupan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FormPenutupan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JENISPENUTUPAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JENISPENUTUPAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOREGPENUTUPAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOREGPENUTUPAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOFASILITAS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOFASILITAS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOREKENING)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOREKENING)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NONASABAH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NONASABAH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAMA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAMA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOSKK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOSKK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ALAMATNASABAH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ALAMATNASABAH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TELPRUMAH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TELPRUMAH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEKERJAAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEKERJAAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOHP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOHP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOFAX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOFAX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPDATEDATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPDATEDATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEGMENTASI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEGMENTASI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JENISASURANSI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JENISASURANSI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OKUPASI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OKUPASI)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
